# Introduction to Plotly

1. Until now we did visualisations using Matplotlib, Seaborn and Pandas. All of them produce static image files.

2. Plotly is company based out in Canada famous for it's products like Plotly and Dash

3. Plotly creates interactive visualisations in the form of HTML files

4. Drawback- can't work with a live data source

5. Dash is used to create live data based dashboards.

In [24]:
import numpy as np 
import pandas as pd 
import plotly.offline as pyo 
import plotly.graph_objs as go

In [25]:
match = pd.read_csv('../DataSets/matches.csv')
delivery = pd.read_csv('../DataSets/deliveries.csv')
ipl = delivery.merge(match,left_on='match_id' , right_on='id')
ipl.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batsman', 'non_striker', 'bowler', 'is_super_over', 'wide_runs',
       'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed',
       'dismissal_kind', 'fielder', 'id', 'season', 'city', 'date', 'team1',
       'team2', 'toss_winner', 'toss_decision', 'result', 'dl_applied',
       'winner', 'win_by_runs', 'win_by_wickets', 'player_of_match', 'venue',
       'umpire1', 'umpire2', 'umpire3'],
      dtype='object')

## Scatter Plot using Plotly

In [26]:
# scatter plots are drawn between two continuous variables .
# Q : we are going to draw a scatter plot between batman avg(x-axis) and strike rate(y-axis) of best 50 players in ipl history .

In [27]:
# fetching top 50 batsman based on total runs scored
top50 = ipl.groupby('batsman')['batsman_runs'].sum().sort_values(ascending=False).head(50).index.to_list()
new_ipl = ipl[ipl['batsman'].isin(top50)]

In [28]:
# calculating strike rate
runs = new_ipl.groupby('batsman')['batsman_runs'].sum()
balls = new_ipl.groupby('batsman')['ball'].count()
strikerate = (runs / balls) * 100
type(strikerate)
# converting series to dataframe
strikerate = strikerate.reset_index()
type(strikerate)

pandas.core.frame.DataFrame

In [29]:
strikerate

             batsman           0
0     AB de Villiers  145.129059
1       AC Gilchrist  133.054662
2           AJ Finch  126.299213
3          AM Rahane  117.486549
4          AT Rayudu  123.014257
5        BB McCullum  126.318203
6           BJ Hodge  121.422376
7           CH Gayle  144.194313
8          DA Miller  137.709251
9          DA Warner  138.318401
10          DJ Bravo  122.286822
11         DJ Hussey  120.072661
12  DPMD Jayawardene  118.791064
13          DR Smith  132.279534
14      F du Plessis  124.161074
15         G Gambhir  120.361200
16        GJ Maxwell  157.564103
17         JH Kallis  105.936272
18         JP Duminy  121.970624
19        KA Pollard  140.621266
20     KC Sangakkara  118.469101
21        KD Karthik  123.008475
22           KK Nair  124.650161
23           M Vijay  120.028681
24        MEK Hussey  119.963592
25         MK Pandey  116.938453
26         MK Tiwary  114.127424
27          MS Dhoni  132.835821
28           NV Ojha  114.528024
29          PA Patel  112.718447
30          R Dravid  113.347237
31         RA Jadeja  118.792867
32         RG Sharma  128.497251
33        RV Uthappa  127.635135
34       S Badrinath  115.742972
35          S Dhawan  118.502496
36        SC Ganguly  101.734540
37          SE Marsh  130.109775
38          SK Raina  134.995548
39         SPD Smith  128.507127
40      SR Tendulkar  114.187867
41         SR Watson  134.838379
42         SS Tiwary  114.851485
43         SV Samson  122.403433
44        TM Dilshan  110.124164
45           V Kohli  126.588437
46          V Sehwag  148.827059
47           WP Saha  127.727646
48         YK Pathan  140.751445
49      Yuvraj Singh  126.390244

In [30]:
# calculating average
out = ipl[ipl['player_dismissed'].isin(top50)]
nout = out['player_dismissed'].value_counts()

avg = runs / nout
avg = avg.reset_index()
avg.rename(columns={'index' : 'batsman', 0 : 'average' },inplace=True)

In [31]:
avg = avg.merge(strikerate,on='batsman')
avg.rename(columns={0: "strikeRate"}, inplace=True)
avg

             batsman    average  strikeRate
0     AB de Villiers  38.307692  145.129059
1       AC Gilchrist  27.223684  133.054662
2           AJ Finch  27.186441  126.299213
3          AM Rahane  33.593407  117.486549
4          AT Rayudu  27.146067  123.014257
5        BB McCullum  28.112245  126.318203
6           BJ Hodge  33.333333  121.422376
7           CH Gayle  41.022472  144.194313
8          DA Miller  34.733333  137.709251
9          DA Warner  40.140000  138.318401
10          DJ Bravo  22.945455  122.286822
11         DJ Hussey  26.979592  120.072661
12  DPMD Jayawardene  28.250000  118.791064
13          DR Smith  28.392857  132.279534
14      F du Plessis  30.116279  124.161074
15         G Gambhir  31.541985  120.361200
16        GJ Maxwell  25.081633  157.564103
17         JH Kallis  28.552941  105.936272
18         JP Duminy  39.860000  121.970624
19        KA Pollard  28.707317  140.621266
20     KC Sangakkara  25.953846  118.469101
21        KD Karthik  24.811966  123.008475
22           KK Nair  25.173913  124.650161
23           M Vijay  26.431579  120.028681
24        MEK Hussey  38.764706  119.963592
25         MK Pandey  28.500000  116.938453
26         MK Tiwary  29.428571  114.127424
27          MS Dhoni  37.872340  132.835821
28           NV Ojha  20.986486  114.528024
29          PA Patel  21.700935  112.718447
30          R Dravid  28.233766  113.347237
31         RA Jadeja  24.055556  118.792867
32         RG Sharma  32.612403  128.497251
33        RV Uthappa  29.515625  127.635135
34       S Badrinath  30.659574  115.742972
35          S Dhawan  32.669725  118.502496
36        SC Ganguly  25.452830  101.734540
37          SE Marsh  39.507937  130.109775
38          SK Raina  33.940299  134.995548
39         SPD Smith  37.239130  128.507127
40      SR Tendulkar  33.826087  114.187867
41         SR Watson  30.917647  134.838379
42         SS Tiwary  28.355556  114.851485
43         SV Samson  25.464286  122.403433
44        TM Dilshan  26.813953  110.124164
45           V Kohli  37.483051  126.588437
46          V Sehwag  27.555556  148.827059
47           WP Saha  25.524590  127.727646
48         YK Pathan  29.816327  140.751445
49      Yuvraj Singh  25.653465  126.390244

In [23]:
# scatter plot between avg and strike rate
trace = go.Scatter(x = avg['average'], y = avg['strikeRate'], mode = 'markers', text = avg['batsman'])
data = [trace]
layout = go.Layout(title = 'Batsman Average vs Strike Rate', xaxis = dict(title = 'Average'), yaxis = dict(title = 'Strike Rate'))
fig = go.Figure(data = data ,layout = layout)
pyo.plot(fig)

KeyError: 'strikeRate'

In [14]:
import seaborn as sns
iris = sns.load_dataset('iris')

In [17]:
trace1 = go.Scatter(x = iris['sepal_length'], y = iris['sepal_width'], mode = 'markers', text = iris['species'])
trace2 = go.Scatter(x = iris['petal_length'], y = iris['petal_width'], mode = 'markers', text = iris['species'])
data = [trace1, trace2]
layout = go.Layout(title = 'Iris Dataset', xaxis = dict(title = 'Length'), yaxis = dict(title = 'Width'))
fig = go.Figure(data = data, layout = layout)
pyo.plot(fig)

'temp-plot.html'