In [1]:
import pandas as pd
import numpy as np

In [6]:
# till now
# Timestamp
pd.Timestamp('6th aug 2025 8:10')

# DatetimeIndex -> df and series index
pd.DatetimeIndex([
    pd.Timestamp('6th aug 2025 8:10'),
    pd.Timestamp('7th aug 2025 8:10'),
    pd.Timestamp('8th aug 2025 8:10')
])[0]

# date_range()
pd.date_range(start= '2025/8/6', end='2025/8/20', freq='2D')

# to_datetime()
s = pd.Series(['2025/8/6','2025/8/7','2025/8/8'])
s   # but here s is object type

0    2025/8/6
1    2025/8/7
2    2025/8/8
dtype: object

In [12]:
s = pd.to_datetime(s)   # converts to datetimeindex
s.dt.day_name()   # day name of each date

0    Wednesday
1     Thursday
2       Friday
dtype: object

## Timedelta
- Represents a duration, the difference between two dates or times.
- Can be created using `pd.Timedelta`, `pd.to_timedelta`, or by performing arithmetic operations on `Timestamp` or `DatetimeIndex` objects.
- Supports various units such as days, hours, minutes, seconds, and milliseconds.
- Useful for date arithmetic, such as adding or subtracting time from a date.
- Can be used in time series analysis to represent time intervals.

In [15]:
# using Timestamp : subtraction of two timestamps
t1 = pd.Timestamp('2025/8/6 8:10')
t2 = pd.Timestamp('2025/8/7 10:15')
print(t2 - t1)
print(t1 - t2)

1 days 02:05:00
-2 days +21:55:00

In [16]:
# using Timedelta
pd.Timedelta('1 days 2 hours 5 minutes')

Timedelta('1 days 02:05:00')

In [17]:
# Arithmetic operations
t1 + pd.Timedelta('2 days 3 hours')

Timestamp('2025-08-08 11:10:00')

In [19]:
pd.date_range(start='2025/8/6', periods=10, freq='D')

DatetimeIndex(['2025-08-06', '2025-08-07', '2025-08-08', '2025-08-09',
               '2025-08-10', '2025-08-11', '2025-08-12', '2025-08-13',
               '2025-08-14', '2025-08-15'],
              dtype='datetime64[ns]', freq='D')

In [20]:
 pd.date_range(start='2025/8/6', periods=10, freq='D') + pd.Timedelta('2 days 3 hours')

DatetimeIndex(['2025-08-08 03:00:00', '2025-08-09 03:00:00',
               '2025-08-10 03:00:00', '2025-08-11 03:00:00',
               '2025-08-12 03:00:00', '2025-08-13 03:00:00',
               '2025-08-14 03:00:00', '2025-08-15 03:00:00',
               '2025-08-16 03:00:00', '2025-08-17 03:00:00'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
# Example
pd.read_csv(..)